@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Adventure";
  src: local("Adventure"), url("./fonts/Adventure.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Scary";
  src: local("Scary"), url("./fonts/Scary.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Filxgirl";
  src: local("Filxgirl"), url("./fonts/Filxgirl.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Fighting";
  src: local("Filxgirl"), url("./fonts/Fighting.ttf") format("truetype");
  font-weight: normal;
}

/* 
@font-face {
  font-family: "Feeling";
  src: local("Feeling"), url("./fonts/Feeling\ Lovely.ttf") format("truetype");
  font-weight: normal;
} */

@font-face {
  font-family: "Distro2";
  src: local("Distro2"), url("./fonts/Distro2.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "wmshapes";
  src: local("wmshapes"), url("./fonts/wmshapes.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Spicy";
  src: local("Spicy"), url("./fonts/Spicy.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "urw";
  src: local("urw"), url("./fonts/urw.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Bubblegum";
  src: local("urw"), url("./fonts/Bubblegum.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Feeling";
  src: local("urw"), url("./fonts/Feeling.ttf") format("truetype");
  font-weight: normal;
}

.Feeling {
  font-family: Feeling;
}

.titre {
  font-family: Adventure;
}

.Scary {
  font-family: Scary;
}
.Filxgirl {
  font-family: Filxgirl;
}
.Fighting {
  font-family: Fighting;
}

.Bubblegum {
  font-family: Bubblegum;
}

.wmshapes {
  font-family: wmshapes;
}

.distro2 {
  font-family: Distro2;
}

.spicy {
  font-family: Spicy;
}

.reform {
  font-family: urw;
}

.word {
  display: inline-block;
  line-height: 1em;
  animation-delay: 15s;
}

.fin {
  display: inline-block;
  line-height: 1em;
}
.encore {
  display: inline-block;
}

.etoiles {
  width: 5em;
  height: auto;
}

.planete {
  width: 5em;
  height: auto;
}

.symbole {
  transition: transform 0.2s; /* Animation */
}

.symbole:hover {
  transform: scale(1.5);
}

.symbole:active {
  transform: scale(1.6, 1);
}

.go {
  transition: transform 0.2s; /* Animation */
}

.go:hover {
  transform: scale(1.1);
  color: #ff1493;
}

.go:active {
  transform: scale(1.2);
}

.got {
}

.got:hover {
  color: #ff1493;
}

.but{
 transition: transform 0.2s; /* Animation */
}

.but:hover {
  transform: scale(1.1);
  color: #ff1493;
}

.but:active {
  transform: scale(1.2);
}

.ml6 {
  position: relative;
}

.ml6 .text-wrapper {
  /* position: relative;
    display: inline-block; */
  /* padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em; */
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.bgColor {
  background-color: #ff1493;
}

.fushia {
  color: #ff1493;
}

.box-shadow {
  box-shadow: 120px 80px 40px 20px #ff1493;
}

.borderColor {
  border-width: 0.5px;
  border-color: #ff1493;
}

.neon {
  color: rgb(0, 0, 0);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

.body {cursor: url('./images/wand.cur'), auto;}


@media (min-width: 640px) {

  .etoiles {
    width: 10em;
    height: auto;
  }
}
