@import "./sal.scss";

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 10rem;

  .icon {
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &:nth-child(2n + 1) {
      justify-content: space-around;
    }
  }
}
